/* invoice */



*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}
body{
  background:url(../images/hotel.jpg) no-repeat ;height:950px; 
  font-family: 'Times New Roman', Times, serif;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  font-weight: bolder;
 
}

.navbar {
  overflow: hidden;
  background-color: #333; 
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: red;
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: red;
  width: 100%;
  z-index: 1;
}

.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

.subnav:hover .subnav-content {
  display: block;
}
h1{
  margin-top: 30px;
  width: auto;
  color: red;
 
}
#head{
  color:red;
}

.table{
margin-top: 50px;
margin-left: 30%;
margin-right: 30%;


}
.col-1 {
float: left;
width: 10%;
margin-top: 6px;
color: burlywood;

}

.col-2 {
float: left;
width: 50%;
margin-top: 6px;
text-align: left;
color: burlywood;
}

.col-3 {
float: left;
width: 40%;
margin-top: 6px;

}

.row:after {
content: "";
display: table;
clear: both;
}
input {
width: 100%;
padding: 5px;
border-radius: 10px;
border: none;
}

.row{
margin: 2px;
}
.btn{
background-color:#ffe6a7;
border: none;
border-radius: 5px;
width: 100px;
height: 30px;
margin-right: 20px;
}
.btn{
margin-top: 15px;
}
input[type=submit]:hover {
background-color: burlywood;
border: none;
border-radius: 10px;
}
input[type=reset]:hover {
background-color: burlywood;
border: none;
border-radius: 10px;
}
select{
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  font-weight: bolder;
}

@media screen and (max-width: 900px) {


.table {
  margin-left: 10%;
  margin-right: 10%;
}

input {
  width: 100%
}
.col-1{
  float: left;
  width: 15%;
  margin-top: 6px;
}

.col-2 {
  float: left;
  width: 55%;
  margin-top: 6px;
}

.col-3 {
  float: left;
  width: 30%;
  margin-top: 6px;
}

}